<html>
	<body>
    <form action="/create" method="post">
      Title:<br>
      <input type="text" name="title">
      <br>
      Body:<br>
      <input type="text" name="body">
      <br><br/>
      <input type="submit">
    </form>
	</body>
</html>
