<html>
	<head>
		<title>The Blog</title>
		<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
		<link rel="stylesheet" href="/myLife.css">
		<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
		<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
	<body>
		<nav class="navbar navbar-inverse">
		  <div class="container-fluid">
		    <div class="navbar-header">
		      <a class="navbar-brand" href="#">The Blog</a>
		    </div>
		    <ul class="nav navbar-nav">
		      <li class="active"><a href="#">Home</a></li>
		      <li><a href="#">I'm Alone</a></li>
		      <li><a href="#">You're Alone</a></li>
		      <li><a href="#">We're Alone</a></li>
		    </ul>
		  </div>
			<div class="jumbotron">
				<div class="container">

				</div>
			</div>
		</nav>
		<div class="container">
			<h1>The Posts</h1>
			<% @posts.each do |post| %>
		  <div class="panel panel-default">
		    <div class="panel-heading"><%=post.title%></div>
		    <div class="panel-body"><%=post.body%></div>
		  </div>
			<% end %>
		</div>
	</body>
</html>
