.jumbotron {
    position: relative;
    background: #000 url("https://media.giphy.com/media/13O5TVc2xIagow/giphy.gif") center center;
    width: 100%;
    height: 100%;
    background-size: cover;
    overflow: hidden;
}
